<h3>Address Form</h3>
<div class="container">
  <form class="formWidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <table class="fullWidth" cellspacing="0">
      <tr>
  
        <td>          
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="First Name" id="firstName" [(ngModel)]="address.firstName" name="firstName">
          </mat-form-field>
        </td>
  
        <td>
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Last Name" id="lastName" [(ngModel)]="address.lastName" name="lastName">
          </mat-form-field>
        </td>
  
      </tr>
    </table>

    <p>
      <mat-form-field class="fullWidth">
        <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
        <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint>
      </mat-form-field>
    </p>

    <table class="fullWidth" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="City" id="city" [(ngModel)]="address.city" name="city">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="State" id="state" [(ngModel)]="address.state" name="state">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="fullWidth">
            <input matInput maxlength="8" #postalCode type="text" placeholder="Postal Code" id="postalCode" [(ngModel)]="address.postalCode" name="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
          </mat-form-field>
        </td>
      </tr>

    </table>

    <p>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </p>


  </form>
</div>
