<mat-card>
  <mat-card-content>
    <form class="formWidth" (submit)="updateCliente()">
      <table class="fullWidth" cellspacing="0">
        <h3>Alterar Dados</h3>
        <tr>  
          <td>          
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Nome Completo" id="nomeCompleto" [(ngModel)]="model.fullName" name="nomeCompleto" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Email" id="email" [(ngModel)]="model.email" name="email" required>
            </mat-form-field>
          </td>  
        </tr>

        <tr>  
          <td>          
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Logradouro" id="logradouro" [(ngModel)]="model.endereco.logradouro" name="logradouro" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="number" placeholder="Número" id="numero" [(ngModel)]="model.endereco.numero" name="numero" required>
            </mat-form-field>
          </td>
        </tr>

        <tr>  
          <td>          
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Munícipio" id="municipio" [(ngModel)]="model.endereco.cidade" name="cidade" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="number" placeholder="CEP" id="cep" [(ngModel)]="model.endereco.cep" name="cep" required>
            </mat-form-field>
          </td>
        </tr>

        <tr>  
          <td>          
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Telefone" id="fixo" [(ngModel)]="model.fixo" name="fixo" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Celular" id="celular" [(ngModel)]="model.celular" name="celular" required>
            </mat-form-field>
          </td>
        </tr>

        <tr>  
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="number" placeholder="Idade" id="idade" [(ngModel)]="model.idade" name="idade" required>
            </mat-form-field>
          </td>
        </tr>
        <br>

        <button mat-raised-button id="buttonBack" color="primary" (click)="goBack()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Alterar</button>

      </table>
    </form>
  </mat-card-content>
</mat-card>