<mat-card>
  <mat-card-content>
    <form class="formWidth" (submit)="updateVeiculo()">
      <table class="fullWidth" cellspacing="0">
        <h3>Alterar Dados</h3>
        <tr>  
          <td>          
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Montadora" id="fabrica" [(ngModel)]="model.fabrica" name="fabrica" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Modelo" id="modelo" [(ngModel)]="model.modelo" name="modelo" required>
            </mat-form-field>
          </td>  
        </tr>

        <tr>  
          <td>          
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Placa" id="placa" [(ngModel)]="model.placa" name="placa" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Cor" id="cor" [(ngModel)]="model.cor" name="cor" required>
            </mat-form-field>
          </td>  
        </tr>

        <tr>  
          <td>          
            <mat-form-field class="fullWidth">
              <input matInput type="number" placeholder="Ano de Fabricação" id="anoFabricacao" [(ngModel)]="model.anoFabricacao" name="anoFabricacao" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth">
              <input matInput type="text" placeholder="Valor da Diária" id="valorDiaria" [(ngModel)]="model.valorDiaria" name="valorDiaria" required>
            </mat-form-field>
          </td>  
        </tr>

        <br>

        <button mat-raised-button id="buttonBack" color="primary" (click)="goBack()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Alterar</button>

      </table>
    </form>
  </mat-card-content>
</mat-card>