<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">

      <!-- Informações Gerais -->
      <mat-tab label="Informações Gerais">
        <div class="demo-tab-content">          
            <label><strong>Nome Completo:</strong> {{ cliente.fullName }}</label><br>
            <label><strong>Email:</strong> {{ cliente.email }}</label><br>
            <label><strong>Endereço:</strong> {{ cliente.endereco.logradouro }}, {{ cliente.endereco.numero }}, {{ cliente.endereco.cidade }}</label><br>
            <label><strong>CEP:</strong> {{ cliente.endereco.cep }}</label><br>
            <label><strong>Telefone:</strong> {{ cliente.fixo }}</label><br>
            <label><strong>Celular:</strong> {{ cliente.celular }}</label><br>
            <label><strong>Idade:</strong> {{ cliente.idade }}</label><br>                        
            <br>
            <button mat-raised-button (click)="cliqueExcluir(cliente._id)">Excluir</button>
            <button mat-raised-button routerLink="/cliente/edit/{{ cliente._id }}">Editar Informações</button>

        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

<button mat-raised-button id="buttonBack" color="primary" (click)="goBack()">Voltar</button>