<mat-list role="list">

  <!-- TESTE -->
  <mat-list-item role="listitem" id="listitem">
    <a mat-menu-item [routerLink]="['usuario/login']"><mat-icon>flight_land</mat-icon></a>
  </mat-list-item>
  <!-- END_TESTE -->

  <mat-list-item role="listitem" id="listitem">
    <button mat-menu-item><mat-icon>assessment</mat-icon><span></span></button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-menu-item><mat-icon>supervisor_account</mat-icon><span></span></button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-menu-item><mat-icon>directions_car</mat-icon><span></span></button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-menu-item><mat-icon>airline_seat_recline_normal</mat-icon><span></span></button>
  </mat-list-item>

</mat-list>