ng-datepicker {
    display: block;
    position: relative;
    z-index: 999999;
    margin-bottom: 12px;
}

.manutencoes ul {
    list-style-type: none;
}

.manutencoes ul li {
    display: inline;
}

.manutencoes ul li a {
    color: white;
}