<div class="panel panel-default">
    <div class="panel-heading">Adicionar novo Aluguel</div>
    <div class="panel-body">
    <form class="form-horizontal" (submit)="addAluguel()">

    <div class="form-group">
      <label for="aluguel_idCliente" class="col-sm-2 control-label">ID Cliente: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.idCliente" name="idCliente" >
      </div>
    </div>

    <div class="form-group">
      <label for="aluguel_idVeiculo" class="col-sm-2 control-label">ID Veículo: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.idVeiculo" name="idVeiculo" >
      </div>
    </div>

    <div class="form-group">
      <label for="aluguel_dataRetirada" class="col-sm-2 control-label">Data Retirada: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.dataRetirada" name="dataRetirada" >
      </div>
    </div>

    <div class="form-group">
      <label for="aluguel_dataEntrega" class="col-sm-2 control-label">Data Entrega: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.dataEntrega" name="dataEntrega">
      </div>
    </div>

  
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-success">Salvar</button>
         <a class="btn btn-info" (click)="goBack()">Cancelar</a>
      </div>
     
    </div>
  </form>
  
    </div>
  </div>