<div class="container">
  <h1>Cadastro de novo usuário</h1>
  <form class="formWidth" (submit)="submeterRegistro()">
    <table class="fullWidth" cellspacing="0">
      <h3>Dados Pessoais</h3>
      <tr>  
        <td>          
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Nome Completo" id="name" [(ngModel)]="user.fullName" name="fullName" required>
          </mat-form-field>
        </td>  
        <td>
          <mat-form-field class="fullWidth">
            <input matInput type="text" #input maxlength="10"placeholder="Username" id="username" [(ngModel)]="user.username" name="username" required>
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
        </td>  
      </tr>
      <tr>  
        <td>          
          <mat-form-field class="fullWidth">
            <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" id="email" name="email" required>
          </mat-form-field>
        </td>  
        <td>
          <mat-form-field class="fullWidth">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" id="password" [(ngModel)]="user.password" name="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </td>  
      </tr>
    </table>

    <table class="fullWidth" cellspacing="0">
      <h3>Endereço</h3>
      <tr>
        <td>          
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Logradouro" id="logradouro" [(ngModel)]="user.endereco_logradouro" name="logradouro">
            <mat-hint align="start">Rua, Avenida, Estrada, Galeria, Praça, Quadra</mat-hint>
          </mat-form-field>
        </td>  
        <td>
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Número" id="numero" [(ngModel)]="user.endereco_numero" name="numero">
          </mat-form-field>
        </td>  
      </tr>
      <tr>  
        <td>          
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Município" id="municipio" [(ngModel)]="user.endereco_cidade" name="cidade">
          </mat-form-field>
        </td>  
        <td>
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="CEP" id="cep" [(ngModel)]="user.endereco_cep" name="cep">
          </mat-form-field>
        </td>  
      </tr>
    </table>

    <table class="fullWidth" cellspacing="0">
      <h3>Informações Adicionais</h3>
      <tr>  
        <td>          
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Fixo" id="phone" [(ngModel)]="user.fixo" name="fixo">
          </mat-form-field>
        </td>  
        <td>
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Celular" id="cellPhone" [(ngModel)]="user.celular" name="celular">
          </mat-form-field>
        </td>  
      </tr>
      <tr>  
        <td>          
          <mat-form-field class="fullWidth">
            <input matInput type="text" placeholder="Linkedin" id="linkedin" [(ngModel)]="user.linkedin" name="linkedin">
          </mat-form-field>
        </td>
        <td>
          <button type="submit" mat-raised-button color="primary" value="Cadastrar">Cadastrar</button>
        </td>
      </tr>      
    </table>
  </form>
</div>