<div class="panel panel-default" >
  <div class="panel-heading">Detalhes do Seguro</div>
  <div class="panel-body">
    <form class="form-horizontal" *ngIf=seguro>

      
  <div class="form-group">
    <label for="seguro_seguradora" class="col-sm-2 control-label">Seguradora: </label>
    <div class="col-sm-9">
      <p class="form-control">{{seguro.seguradora}}</p> 
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      
    <a class="btn btn-info" (click)="goBack()">Voltar</a>
    </div>
    
  </div>
</form>

  </div>
</div>