<div class="table-responsive">
  <table class="table table-hover table-sm">
    <caption>Lista de Clientes</caption>
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <td scope="col" width="275" align="center"><a class="btn btn-warning btn-sm novo-cliente" routerLink="/cliente/add">Adicionar</a></td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.fullName }}</td>
        <td>{{ cliente.email }}</td>
        <td width="275"> 
          <a class="btn" routerLink="/cliente/show/{{ cliente._id }}">Dados</a> 
          <a class="btn"  routerLink="/cliente/edit/{{ cliente._id }}">Editar</a>
          <a class="btn" (click)="deleteCliente(cliente._id)">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>