<mat-card>
  <mat-card-content>
    <mat-tab-group class="navigation">

      <mat-tab label="Data Table">
        <app-data-table></app-data-table>
      </mat-tab>    

      <mat-tab label="Sidenav">
        <app-sidenav></app-sidenav>
      </mat-tab>        

      <mat-tab label="Menu">
        <app-menu></app-menu>
      </mat-tab>

      <mat-tab label="Snackbar">
        <app-snackbar></app-snackbar>
      </mat-tab>
      
      <mat-tab label="Tooltip">
        <app-tooltip></app-tooltip>
      </mat-tab>      

      <mat-tab label="Dialog">
        <app-dialog></app-dialog>
      </mat-tab> 

      <mat-tab label="Form">
        <app-form></app-form>
      </mat-tab> 

      <mat-tab label="Gallery">
        <app-gallery></app-gallery>
      </mat-tab>

      <mat-tab class="settings" label="Settings">
        <app-settings></app-settings>
      </mat-tab>

      <mat-tab label="Spinner">
        <app-loading-spinner></app-loading-spinner>
      </mat-tab>

      <mat-tab label="Paginator">
        <app-paginator></app-paginator>
      </mat-tab>
            
    </mat-tab-group>
  </mat-card-content>
</mat-card>