<mat-accordion *ngIf="usuario" class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-description class="panel-description">
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <label><strong>Nome:</strong> {{ usuario.fullName }}</label><br>
      <label><strong>Username:</strong> {{ usuario.username }}</label><br>
      <label><strong>Email:</strong> {{ usuario.email }}</label>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-description class="panel-description">
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <label><strong>Logradouro:</strong> {{ usuario.endereco.logradouro }}</label><br>
      <label><strong>Número:</strong> {{ usuario.endereco.numero }}</label><br>
      <label><strong>Cidade:</strong> {{ usuario.endereco.cidade }}</label><br>
      <label><strong>CEP:</strong> {{ usuario.endereco.cep }}</label>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-description class="panel-description">
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <label><strong>Fixo:</strong> {{ usuario.fixo }}</label><br>
      <label><strong>Celular:</strong> {{ usuario.celular }}</label><br>
      <a href="{{ usuario.linkedin }}">{{ usuario.linkedin }}</a>

  </mat-expansion-panel>

</mat-accordion>