.formWidth {
    width: 100%;
}

.fullWidth {
    width: 98%;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 16px auto;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 96%;
}

.container > * {
    width: 96%;
}

button {
    float: right;
    right: 40%;
}