<div class="container">
  <h1>Editar Aluguel</h1>
  <form class="formWidth" (submit)="updateVeiculo()">
    <table class="fullWidth" cellspacing="0">
      <tr>  
        <td>          
          <mat-form-field class="fullWidth">
            <mat-select placeholder="Atual: {{ cliente.fullName }}" [(ngModel)]="model.aluguel.idCliente" name="idCliente" required>
              <mat-option *ngFor="let cliente of clientes" [value]="cliente._id">{{cliente.fullName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data de retirada do veículo" [(ngModel)]="model.aluguel.periodo.inicio" name="dataRetirada" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <button mat-button color="warn" (click)="goBack()">Cancelar</button>
          <button mat-button color="primary" type="submit">Salvar</button>
        </td>
      </tr>
    </table>

  </form>
</div>