<div class="jumbotron text-center">
  <h1>SisLoc</h1>
  <p class="lead">Sistema de Gestão de Locação de Veículos</p>

  <div *ngIf="!authService.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['usuario/registrar']">Registrar</a>
    <a class="btn btn-warning" [routerLink]="['usuario/login']">Login</a>
  </div>
</div>

<div *ngIf="!authService.loggedIn()" class="row">
  <div class="col-md-4">
    <h3>Aluguel de veículos</h3>
    <i class="material-icons">face</i>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, accusamus!</p>
  </div>
  <div class="col-md-4">
    <h3>Aluguel de veículos</h3>
    <i class="material-icons">alarm</i>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, accusamus!</p>
  </div>
  <div class="col-md-4">
    <h3>Aluguel de veículos</h3>
    <i class="material-icons">location_on</i>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, accusamus!</p>
  </div>
</div>

<hr>

<div *ngIf="authService.loggedIn()" class="row">

  <div class="col-md-4">
    <h4>Clientes</h4>

    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.fullName }} - {{ cliente.email }}</td>
        </tr>
      </tbody>
    </table>    

  </div>

  <div class="col-md-2">
    <h4>Veículos</h4>

    <table class="table table-hover">      
      <tbody>
        <tr *ngFor="let veiculo of veiculos">
          <td>{{ veiculo.fabrica }} - {{ veiculo.modelo }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-2">
    <h4>Seguros</h4>

    <table class="table table-hover">      
      <tbody>
        <tr *ngFor="let seguro of seguros">
          <td>{{ seguro.seguradora }}</td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="col-md-4">

      <h4>Aluguéis</h4>

      <table class="table table-hover">
        <tbody>
          <tr class="table-default" *ngFor="let aluguel of alugueis">
            <td>{{ aluguel.idCliente }} - {{ aluguel.idVeiculo }} - {{ aluguel.dataRetirada }} - {{ aluguel.dataEntrega }}</td>
          </tr>
        </tbody>
      </table>

  </div>
</div>