

<table class="table table-hover">
  <thead>
    <tr class="table-default">
      <th scope="col">Cliente</th>
      <th scope="col">Veículo</th>
      <th scope="col">Data de Retirada</th>
      <th scope="col">Data de Entrega</th>
      <th scope="col" width="275" align="center"><a type="button" class="btn btn-outline-success btn-sm" routerLink="/aluguel/add">Adicionar</a></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-default" *ngFor="let aluguel of alugueis">
    <td>{{ aluguel.Cliente }}</td>
    <td>{{ aluguel.Veiculo }}</td>
    <td>{{ aluguel.dataRetirada }}</td>
    <td *ngIf="aluguel.dataEntrega != undefined">{{ aluguel.dataEntrega }}</td>
    <td *ngIf="aluguel.dataEntrega === undefined">Não devolvido</td>
    <td width="275"> 
      <a type="button" class="btn btn-outline-info btn-sm" routerLink="/aluguel/show/{{ aluguel._id }}">Informações</a> 
      <a class="btn btn-outline-warning btn-sm" routerLink="/aluguel/edit/{{ aluguel._id }}">Editar</a>
      <a class="btn btn-outline-warning btn-sm" routerLink="/aluguel/finalizar/{{ aluguel._id }}">Finalizar Locação</a>
      <a class="tn btn-outline-danger btn-sm" (click)="deleteAluguel(aluguel._id)">Deletar</a>
    </td>
    </tr>
  </tbody>
</table>