<div class="panel panel-default">
    <div class="panel-heading">Adicionar novo Cliente</div>
    <div class="panel-body">
    <form class="form-horizontal" (submit)="addCliente()">

    <div class="form-group">
      <label for="cliente_fullName" class="col-sm-2 control-label">Nome Completo: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="model.fullName" name="fullName" >
      </div>
    </div>

    <div class="form-group">
      <label for="cliente_email" class="col-sm-2 control-label">Email: </label>
      <div class="col-sm-9">
        <input type="email" class="form-control" [(ngModel)]="model.email" name="email">
      </div>
    </div> 
  
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-success">Salvar</button>
         <a class="btn btn-info" (click)="goBack()">Cancelar</a>
      </div>
     
    </div>
  </form>
  
    </div>
  </div>