<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">

      <!-- Informações Gerais -->
      <mat-tab label="Informações Gerais">
        <div class="demo-tab-content">          
            <label><strong>Montadora:</strong> {{ veiculo.fabrica }}</label><br>
            <label><strong>Modelo:</strong> {{ veiculo.modelo }}</label><br>
            <label><strong>Placa:</strong> {{ veiculo.placa }}</label><br>
            <label><strong>Cor:</strong> {{ veiculo.cor }}</label><br>
            <label><strong>Ano de Fabricação:</strong> {{ veiculo.anoFabricacao }}</label><br>
            <label><strong>Valor da diária:</strong> {{ veiculo.valorDiaria | currency: 'BRL':'symbol':'1.2-2'}}</label><br><br>
                        
            <ul>
              <li id="titLi">Informações adicionais</li>
              <li *ngIf="veiculo.aluguel"><label><strong>Alugado</strong></label></li>
              <li *ngIf="!veiculo.aluguel"><label><strong>Não Alugado</strong></label></li>
              <li *ngIf="veiculo.manutencao"><label><strong>Em manutenção</strong></label></li>
              <li *ngIf="!veiculo.manutencao"><label><strong>Não encontra-se em manutenção</strong></label></li>
              <li *ngIf="veiculo.seguro"><label><strong>Seguro em andamento</strong></label></li>
              <li *ngIf="!veiculo.seguro"><label><strong>Não possui seguro em andamento</strong></label></li>
              <li *ngIf="veiculo.historico_de_alugueis.length > 0"><label><strong>Possui histórico de aluguéis</strong></label></li>
              <li *ngIf="veiculo.historico_de_alugueis.length < 1"><label><strong>Não possui histórico de aluguéis</strong></label></li>
              <li *ngIf="veiculo.historico_de_manutencoes.length > 0"><label><strong>Possui histórico de manutenções</strong></label></li>
              <li *ngIf="veiculo.historico_de_manutencoes.length < 1"><label><strong>Não possui histórico de manutenções</strong></label></li>
              <li *ngIf="veiculo.historico_de_seguros.length > 0"><label><strong>Possui histórico de seguros</strong></label></li>
              <li *ngIf="veiculo.historico_de_seguros.length < 1"><label><strong>Não possui histórico de seguros</strong></label></li>
            </ul>

            <br>
            <button mat-raised-button (click)="cliqueExcluir(veiculo._id)">Excluir</button>
            <button mat-raised-button routerLink="/veiculo/edit/{{ veiculo._id }}">Editar Informações</button>
            <button *ngIf="!veiculo.aluguel && !veiculo.manutencao" mat-raised-button routerLink="/veiculo/alugar/{{ veiculo._id }}">Novo Aluguel</button>
            <button *ngIf="!veiculo.aluguel && !veiculo.manutencao" mat-raised-button routerLink="/veiculo/novamanutencao/{{ veiculo._id }}">Nova Manutenção</button>
            <button *ngIf="!veiculo.seguro" mat-raised-button routerLink="/veiculo/novoseguro/{{ veiculo._id }}">Novo Seguro</button>            

        </div>
      </mat-tab>

      <!-- Aluguel -->
      <mat-tab *ngIf="veiculo.aluguel" label="Aluguel">
        <div class="demo-tab-content">

          <div>
            <label><strong>Data de início:</strong> {{ beautyData(veiculo.aluguel.periodo.inicio) }}</label><br>
            <label><strong>Cliente:</strong> {{ showCliente() }}</label><br>
            <label><strong>Valor da diária:</strong> {{ veiculo.valorDiaria | currency: 'BRL':'symbol':'1.2-2'}}</label><br>
            <label><strong>Dias de locação até o momento:</strong> {{ difDays() }}</label><br>
            <label><strong>Valor final atual:</strong> {{ valorTotalLocacao() | currency: 'BRL':'symbol':'1.2-2' }}</label><br>
            <br>
            <button mat-raised-button routerLink="/veiculo/editaraluguel/{{ veiculo._id }}">Editar</button>
            <button type="button" mat-raised-button (click)="finalizarAluguel()">Finalizar</button>
          </div>

        </div>
      </mat-tab>

      <!-- Manutenção -->
      <mat-tab *ngIf="veiculo.manutencao" label="Manutenção">
        <div class="demo-tab-content">

          <div >
            <label><strong>Data de início:</strong> {{ beautyData(veiculo.manutencao.periodo.inicio) }}</label><br>
            <label><strong>Oficina:</strong> {{ showOficina() }}</label><br>
            <label><strong>Descrição:</strong> {{ veiculo.manutencao.descricao }}</label><br>
            <label><strong>Valor:</strong> {{ veiculo.manutencao.valorFinal | currency: 'BRL':'symbol':'1.2-2'}}</label><br>
            <br>
            <button type="button" mat-raised-button (click)="finalizarManutencao()">Finalizar</button>
          </div>
   
        </div>
      </mat-tab>

      <!-- Seguro -->
      <mat-tab *ngIf="veiculo.seguro" label="Seguro">
        <div class="demo-tab-content">

          <div >
            <label><strong>Data de início:</strong> {{ beautyData(veiculo.seguro.periodo.inicio) }}</label><br>
            <label><strong>Seguradora:</strong> {{ showSeguradora() }}</label><br>
            <label><strong>Valor:</strong> {{ veiculo.seguro.valorTotal | currency: 'BRL':'symbol':'1.2-2'}}</label><br>
            <br>
            <button mat-raised-button>Editar</button>
            <button type="button" mat-raised-button (click)="finalizarSeguro()">Finalizar</button>
          </div>

        </div>
      </mat-tab>

      <!-- Histórico de Aluguéis -->
      <mat-tab *ngIf="veiculo.historico_de_alugueis.length > 0" label="Histórico de Aluguéis">
        <div class="demo-tab-content">

          <table mat-table>
            <thead>
              <th mat-header-cell>Retirada</th>
              <th mat-header-cell>Devolução</th>
              <th mat-header-cell>Cliente</th>
              <th mat-header-cell>Valor</th>
            </thead>
            <tbody *ngFor="let aluguel of veiculo.historico_de_alugueis">
              <td mat-cell>{{aluguel.periodo.inicio}}</td>        
              <td mat-cell>{{aluguel.periodo.fim}}</td>        
              <td mat-cell>{{aluguel.idCliente}}</td>        
              <td mat-cell>{{aluguel.valorFinal}}</td>
            </tbody>
          </table>

        </div>  
      </mat-tab>

      <!-- Histórico de Manutenções -->
      <mat-tab *ngIf="veiculo.historico_de_manutencoes.length > 0" label="Histórico de Manutenções">
        <div class="demo-tab-content">

          <table mat-table>
            <thead>
              <th mat-header-cell>Início</th>
              <th mat-header-cell>Final</th>
              <th mat-header-cell>Oficina</th>
              <th mat-header-cell>Descrição</th>
              <th mat-header-cell>Valor</th>
            </thead>
            <tbody *ngFor="let manut of veiculo.historico_de_manutencoes">
              <td mat-cell>{{manut.periodo.inicio}}</td>        
              <td mat-cell>{{manut.periodo.fim}}</td>        
              <td mat-cell>{{manut.idOficina}}</td>
              <td mat-cell>{{manut.descricao}}</td>
              <td mat-cell>{{manut.valorFinal}}</td>
            </tbody>
          </table>

        </div>  
      </mat-tab>
      
      <!-- Histórico de Seguros -->
      <mat-tab *ngIf="veiculo.historico_de_seguros.length > 0" label="Histórico de Seguros">
        <div class="demo-tab-content">

          <table mat-table>
            <thead>
              <th mat-header-cell>Início</th>
              <th mat-header-cell>Fim</th>
              <th mat-header-cell>Seguradora</th>
              <th mat-header-cell>Valor</th>
            </thead>
            <tbody *ngFor="let seg of veiculo.historico_de_seguros">
              <td mat-cell>{{seg.periodo.inicio}}</td>        
              <td mat-cell>{{seg.periodo.fim}}</td>        
              <td mat-cell>{{seg.idSeguradora}}</td>        
              <td mat-cell>{{seg.valorFinal}}</td>
            </tbody>
          </table>

        </div>  
      </mat-tab>
      
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<button mat-raised-button id="buttonBack" color="primary" (click)="goBack()">Voltar</button>