<div class="panel panel-default">
  <div class="panel-heading">Edição de dados do Seguro</div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="updateSeguro()">

  <div class="form-group">
    <label for="seguro_seguradora" class="col-sm-2 control-label">Seguradora: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.seguradora" name="seguradora" >
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Alterar</button>
        <a class="btn btn-info" (click)="goBack()">Cancelar</a>
    </div>
    
  </div>
</form>

</div>
</div>