mat-card {
    padding: 0px;
}

.container {
    left: 3%;
    width: 97%;
    min-height: 400px;
}

.sidenav {
    padding: 0px;
}

.panel {
    margin: 0px;
    width: 100%;
}

.floating-button{
    position: fixed;
    top: 80px;
    left: 20px;
    cursor: pointer;
}
