mat-card {
    padding: 0px;
}

.container {
    left: 3%;
    width: 97%;
    height: 400px;
}

.sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.sidenav {
    padding: 0px;
}

.panel {
    margin: 0px;
}

.floating-button{
    position: fixed;
    top: 80px;
    left: 20px;
    cursor: pointer;
}
